<section class="container mt-5 mb-5" id="map-content">
  <h2>
    <span>
      A dedicated networking environment and the creation of new projects
    </span>
  </h2>

  <div class="row mt-3">
    <div class="col-12 col-md-6 mb-3">
      <img class="img-fluid" src="assets/imgs/home/wework.png" />
    </div>
    <div class="col-12 col-md-6">
      <h3>The best learning experiences</h3>
      <p>
        With more than 2,000 people working on new projects and thinking about
        innovation, DevAcademy is located at Wework, the largest coworking space
        in the world. Located in the heart of São Paulo on Avenida Paulista,
        DevAcademy is the ideal environment for networking, networking and
        learning in practice.
      </p>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.8228195645293!2d151.19158791542685!3d-33.8684568264728!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae369658698f%3A0x284bed171a7c5347!2sWeWork+Pyrmont!5e0!3m2!1sen!2sau!4v1524462834794"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</section>
