<app-navbar></app-navbar>

<section class="container">
  <div class="row mt-3">
    <div class="col-12 col-sm-6  col-sm-offset-1 mr-5 mt-7 ml-auto">
      <!-- TODO: DECIDE BREADCRUMB -->
      <!-- <p class="category-route"><a href="/">Home</a> &gt; <a href="/tecnologia">Tecnologia</a> &gt; Programação Para Não Programadores | Noturno</p>

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Library</a></li>
          <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
      </nav> -->

      <h1 class="mt-2">Coding for non programmers | Night</h1>

      <section class="mt-5">
        <h5>About this course</h5>
        <p>
          In this workshop we will learn a little about Computing. From the
          origins of programming to your first website and application. Let's
          leave this workshop with a much better notion to idealize, manage and
          build digital products.
        </p>
      </section>

      <section class="mt-3">
        <h5>You will learn</h5>

        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <div
                class="d-flex justify-content-between"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne"
              >
                <h6>Quais as dificuldades de se programar</h6>
                <i class="material-icons">keyboard_arrow_down</i>
              </div>
            </div>
            <div
              id="collapseOne"
              class="collapse"
              aria-labelledby="headingOne"
              data-parent="#accordion"
            >
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life
                accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa
                nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                wes anderson cred nesciunt sapiente ea proident. Ad vegan
                excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you probably
                haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingTwo">
              <div
                class="d-flex justify-content-between"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                <h6>Como começar um projeto digital</h6>
                <i class="material-icons">keyboard_arrow_down</i>
              </div>
            </div>
            <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordion"
            >
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life
                accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa
                nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                wes anderson cred nesciunt sapiente ea proident. Ad vegan
                excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you probably
                haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="mt-3">
        <h5>Prerequisites</h5>
        <p>Bring your notebook to the class room (PC or Mac)</p>
      </section>

      <section class="mt-3">
        <h5>Instructors</h5>
        <div class="row mb-5">
          <div class="col-12 col-sm-4">
            <img
              class="img-fluid"
              src="https://mastertechfiles.blob.core.windows.net/site/d660ab35-3f60-437b-b551-ded27f7b13e5"
            />
          </div>
          <div class="col-12 col-sm-8 ml-2 ml-sm-0">
            <p class="mb-0 mt-2 font-weight-bold">Felipe Barreiros</p>
            <p>
              Foi engenheiro para Microsoft e depois de trabalhar em diversas
              gigantes multinacionais (Itaú, IBM, Accenture, Renault) começou
              algumas startups do zero e hoje está à frente da Ponte21 e do
              DevAcademy, startups que já receberam reconhecimento do Google,
              MIT, Itaú e Salesforce. Como CEO da DevAcademy, seu principal
              desafio é ensinar às pessoas as tecnologias do século 21.
            </p>
          </div>
        </div>
      </section>
    </div>

    <!-- Course Info -->
    <div class="col-12 col-sm-3 col-sm-offset-2 mr-5 mt-7">
      <img
        class="img-fluid"
        src="https://mastertechfiles.blob.core.windows.net/site/edc3026c-f27b-4b2d-9e04-05507841e926"
      />

      <p class="font-weight-bold mb-0 mt-3">07 de maio</p>
      <p>segunda-feira, das 19h às 22h</p>

      <p class="font-weight-bold mb-0">DevAcademy Paulista</p>
      <p>Av. Paulista, 1374 - 11º Andar - São Paulo, SP</p>

      <p class="font-weight-bold mb-0">2X R$124,50</p>
      <p>ou R$249,00 à vista</p>

      <div class="container">
        <a href="#" class="btn btn-primary btn-block">Enrol</a>
      </div>
    </div>
  </div>
</section>
<!-- Empresas que já fizeram curso com a gente -->
<!-- <div class="container">
      <h2><span>Empresas que já fizeram curso com a gente</span></h2>
      <div class="row mb-5 slider-home slick-initialized slick-slider">

        <div class="slick-list draggable" style="padding: 0px 50px;">
          <div class="slick-track" style="opacity: 1; width: 13200px; transform: translate3d(-5720px, 0px, 0px);"><img class="grayscale mx-auto pl-4 slick-slide slick-cloned" src="/Assets/img/parceiros-home/visa-logo.png" tabindex="-1" style="width: 440px;" data-slick-index="-2" aria-hidden="true"><img class="grayscale mx-auto pl-4 slick-slide slick-cloned"
              src="/Assets/img/parceiros-home/wpp-logo.png" tabindex="-1" style="width: 440px;" data-slick-index="-1" aria-hidden="true"><img class="grayscale mx-auto pl-4 slick-slide" src="/Assets/img/parceiros-home/accenture-logo.png" tabindex="-1" style="width: 440px;"
              data-slick-index="0" aria-hidden="true"><img class="grayscale mx-auto pl-4 slick-slide" src="/Assets/img/parceiros-home/algar-logo.png" tabindex="-1" style="width: 440px;" data-slick-index="1" aria-hidden="true"><img class="grayscale mx-auto pl-4 slick-slide"
              src="/Assets/img/parceiros-home/bayer-logo.png" tabindex="-1" style="width: 440px;" data-slick-index="2" aria-hidden="true"><img class="grayscale mx-auto pl-4 slick-slide" src="/Assets/img/parceiros-home/gutierrez-logo.png" tabindex="-1" style="width: 440px;"
              data-slick-index="3" aria-hidden="true"><img class="grayscale mx-auto pl-4 slick-slide" src="/Assets/img/parceiros-home/itau-logo.png" tabindex="-1" style="width: 440px;" data-slick-index="4" aria-hidden="true"><img class="grayscale mx-auto pl-4 slick-slide"
              src="/Assets/img/parceiros-home/leroy-logo.png" tabindex="-1" style="width: 440px;" data-slick-index="5" aria-hidden="true"><img class="grayscale mx-auto pl-4 slick-slide" src="/Assets/img/parceiros-home/nextel-logo.png" tabindex="-1" style="width: 440px;"
              data-slick-index="6" aria-hidden="true"><img class="grayscale mx-auto pl-4 slick-slide" src="/Assets/img/parceiros-home/paypal-logo.png" tabindex="-1" style="width: 440px;" data-slick-index="7" aria-hidden="true"><img class="grayscale mx-auto pl-4 slick-slide"
              src="/Assets/img/parceiros-home/rede-logo.png" tabindex="-1" style="width: 440px;" data-slick-index="8" aria-hidden="true"><img class="grayscale mx-auto pl-4 slick-slide" src="/Assets/img/parceiros-home/salesforce-logo.png" tabindex="-1" style="width: 440px;"
              data-slick-index="9" aria-hidden="true"><img class="grayscale mx-auto pl-4 slick-slide" src="/Assets/img/parceiros-home/tozzini-logo.png" tabindex="-1" style="width: 440px;" data-slick-index="10" aria-hidden="true"><img class="grayscale mx-auto pl-4 slick-slide slick-current slick-active slick-center"
              src="/Assets/img/parceiros-home/veirano-logo.png" tabindex="0" style="width: 440px;" data-slick-index="11" aria-hidden="false"><img class="grayscale mx-auto pl-4 slick-slide" src="/Assets/img/parceiros-home/visa-logo.png" tabindex="-1" style="width: 440px;"
              data-slick-index="12" aria-hidden="true"><img class="grayscale mx-auto pl-4 slick-slide" src="/Assets/img/parceiros-home/wpp-logo.png" tabindex="-1" style="width: 440px;" data-slick-index="13" aria-hidden="true"><img class="grayscale mx-auto pl-4 slick-slide slick-cloned"
              src="/Assets/img/parceiros-home/accenture-logo.png" tabindex="-1" style="width: 440px;" data-slick-index="14" aria-hidden="true"><img class="grayscale mx-auto pl-4 slick-slide slick-cloned" src="/Assets/img/parceiros-home/algar-logo.png" tabindex="-1"
              style="width: 440px;" data-slick-index="15" aria-hidden="true"><img class="grayscale mx-auto pl-4 slick-slide slick-cloned" src="/Assets/img/parceiros-home/bayer-logo.png" tabindex="-1" style="width: 440px;" data-slick-index="16" aria-hidden="true">
            <img class="grayscale mx-auto pl-4 slick-slide slick-cloned" src="/Assets/img/parceiros-home/gutierrez-logo.png" tabindex="-1" style="width: 440px;" data-slick-index="17" aria-hidden="true"><img class="grayscale mx-auto pl-4 slick-slide slick-cloned"
              src="/Assets/img/parceiros-home/itau-logo.png" tabindex="-1" style="width: 440px;" data-slick-index="18" aria-hidden="true"><img class="grayscale mx-auto pl-4 slick-slide slick-cloned" src="/Assets/img/parceiros-home/leroy-logo.png" tabindex="-1"
              style="width: 440px;" data-slick-index="19" aria-hidden="true"><img class="grayscale mx-auto pl-4 slick-slide slick-cloned" src="/Assets/img/parceiros-home/nextel-logo.png" tabindex="-1" style="width: 440px;" data-slick-index="20" aria-hidden="true">
            <img class="grayscale mx-auto pl-4 slick-slide slick-cloned" src="/Assets/img/parceiros-home/paypal-logo.png" tabindex="-1" style="width: 440px;" data-slick-index="21" aria-hidden="true">
            <img class="grayscale mx-auto pl-4 slick-slide slick-cloned" src="/Assets/img/parceiros-home/rede-logo.png" tabindex="-1" style="width: 440px;" data-slick-index="22" aria-hidden="true"><img class="grayscale mx-auto pl-4 slick-slide slick-cloned"
              src="/Assets/img/parceiros-home/salesforce-logo.png" tabindex="-1" style="width: 440px;" data-slick-index="23" aria-hidden="true"><img class="grayscale mx-auto pl-4 slick-slide slick-cloned" src="/Assets/img/parceiros-home/tozzini-logo.png"
              tabindex="-1" style="width: 440px;" data-slick-index="24" aria-hidden="true"><img class="grayscale mx-auto pl-4 slick-slide slick-cloned" src="/Assets/img/parceiros-home/veirano-logo.png" tabindex="-1" style="width: 440px;" data-slick-index="25"
              aria-hidden="true"><img class="grayscale mx-auto pl-4 slick-slide slick-cloned" src="/Assets/img/parceiros-home/visa-logo.png" tabindex="-1" style="width: 440px;" data-slick-index="26" aria-hidden="true"><img class="grayscale mx-auto pl-4 slick-slide slick-cloned"
              src="/Assets/img/parceiros-home/wpp-logo.png" tabindex="-1" style="width: 440px;" data-slick-index="27" aria-hidden="true"></div>
        </div>
      </div>
    </div> -->

<app-awards></app-awards>

<app-youtube></app-youtube>

<app-location></app-location>

<app-newsletter></app-newsletter>

<app-footer></app-footer>
