$primary: #d32e2e;
$secondary: #414042;
$tertiary: #00a2ff;

$dark: #212121;
$light: #fff;

$bg-light: #f3f3f3;
$bg-dark: #212121;

$tablet: 769px;

%section-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1em;
    padding: 48px 0 0;
    text-align: center;
  }
}
