// Custom Theme for Angular Material
@import '~@angular/material/theming';

$primary: mat-palette($mat-grey, 900);
$accent: mat-palette($mat-red, 700);
$warn: mat-palette($mat-amber, 700);

$theme: mat-light-theme($primary, $accent, $warn);

// Custom Typography config that overrides the font-family
$devacademy-typography: mat-typography-config($font-family: 'Nunito, san-serif');
