<section id="course-details" *ngIf="course$ | async as course">
  <!-- Course Details -->
  <div>
    <!-- TODO: DECIDE BREADCRUMB -->
    <!-- <p class="category-route"><a href="/">Home</a> &gt; <a href="/tecnologia">Tecnologia</a> &gt; Programação Para Não Programadores | Noturno</p>

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Library</a></li>
          <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
      </nav> -->

    <h1>{{ course.title }}</h1>

    <section>
      <h2>About this course</h2>
      <p>
        {{ course.description }}
      </p>

      <h2>See What You’ll Learn</h2>
      <mat-accordion displayMode="flat">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              HTML Basics
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item>
              Apply tags to HTML documents to effectively section content
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              Differentiate between the various image file types
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              Predict image paths and apply relative paths to img src tags
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              Describe how the Internet delivers web pages to the browser
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              CSS Basics
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item>
              Apply tags to HTML documents to effectively section content
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              Differentiate between the various image file types
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              Predict image paths and apply relative paths to img src tags
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              Describe how the Internet delivers web pages to the browser
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </section>

    <section>
      <h2>Instructor</h2>
      <div>
        <div>
          <img mat-card-avatar [src]="instructor.imageUrl" />
        </div>
        <div>
          <p>{{ instructor.name }}</p>
          <p>
            {{ instructor.bio }}
          </p>
        </div>
      </div>
    </section>
  </div>

  <!-- Course Info -->
  <div>
    <mat-card class="card" style="max-width: 28rem;">
      <img mat-card-image [src]="course.imageUrl" alt="Course Image" />

      <mat-card-title-group>
        <mat-card-title>{{ course.title }}</mat-card-title>
        <mat-card-subtitle>{{ course.level }}</mat-card-subtitle>
      </mat-card-title-group>

      <mat-card-content>
        <p><b>When</b></p>
        <p>{{ courseDetails.date }}</p>

        <p><b>Where</b></p>
        <p>{{ courseDetails.location }}</p>

        <p><b>Investment</b></p>
        <p>{{ courseDetails.price }}</p>

        <button
          mat-flat-button
          color="accent"
          [routerLink]="['/course/', course.slug]"
        >
          Enrol Now
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</section>
