%section-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px 0;

  h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1em;
    text-align: center;
  }
}
