<section class="container mt-5 mb-5" id="awards">
	<h2><span>National and International Recognition</span></h2>
	<div class="row mt-3">
		<div class="col-6 col-md-3">
			<img class="img-fluid mx-auto mb-3" src="assets/imgs/home/awards/mit.jpg" />
		</div>
		<div class="col-6 col-md-3">
			<img
				class="img-fluid mx-auto mb-3"
				src="assets/imgs/home/awards/salesforce.jpg"
			/>
		</div>
		<div class="col-6 col-md-3">
			<img class="img-fluid mx-auto mb-3" src="assets/imgs/home/awards/wework.jpg" />
		</div>
		<div class="col-6 col-md-3">
			<img
				class="img-fluid mx-auto mb-3"
				src="assets/imgs/home/awards/facebook.jpg"
			/>
		</div>
	</div>
</section>
