<app-navbar></app-navbar>

<section class="d-flex flex-column justify-content-center container">
	<div class="container">
		<form class="form-signin" id="formLogin" method="post">
			<div class="text-center mb-4">
				<img class="mb-4" src="/assets/home/icon-DevAcademy-black.svg" />
				<h1 class="h3 mb-3 font-weight-normal">My DevAcademy</h1>
				<p>
					To access information and enrollment status of your courses, just sign
					in.
				</p>
			</div>
			<div class="form-label-group">
				<input
					id="email"
					class="form-control input-EmailMeuDevAcademy"
					placeholder="Digite seu E-mail"
					required=""
					name="email"
					autofocus=""
					type="email"
				/>
			</div>
			<div class="form-label-group">
				<input
					id="cpf"
					class="form-control input-CpfMeuDevAcademy cpf"
					name="cpf"
					placeholder="Digite seu CPF"
					required=""
					autofocus=""
					type="text"
					maxlength="14"
				/>
			</div>
			<button
				class=" ml-0 btn btn-lg btn-primary btn-block btn-entrar-meuDevAcademy"
				onclick="loginMeuDevAcademy()"
				type="submit"
				id="cpf"
			>
				Entrar
			</button>

			<p class="mt-5 mb-3 text-muted text-center">©DevAcademy - 2018</p>
		</form>
	</div>
</section>
