<!-- <mat-toolbar color="primary">

  <span routerLink="">Coding Experiment</span>

  <span class="fill-remaining-space"></span>

  <button mat-button class="text-right" (click)="sidenav.toggle()">
    <mat-icon aria-hidden="true">menu</mat-icon>
  </button>
</mat-toolbar> -->

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" position="end">
    <mat-nav-list>
      <a mat-list-item href="#">Home</a>
      <mat-divider></mat-divider>

      <mat-expansion-panel>
        <mat-expansion-panel-header>Courses</mat-expansion-panel-header>
        <a mat-list-item>Fundamentals</a>
        <a mat-list-item>FrontEnd</a>
        <a mat-list-item>BackEnd</a>
        <a mat-list-item>Kids</a>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>Corporate</mat-expansion-panel-header>
        <a mat-list-item>Get in touch</a>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>My Experiment</mat-expansion-panel-header>
        <a mat-list-item (click)="openSignup()">Get Started</a>
        <!-- <a mat-list-item (click)="openLogin()">Login</a> -->
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>
