<app-navbar></app-navbar>

<app-get-notified></app-get-notified>
<!-- <section class="main">
	<div class="container mt-5">
		<div>
			<img class="img-fluid" src="assets/imgs/home/main.jpg" />
			<h3 class="mt-3 ">Education to reinvent your future.</h3>
			<p>
				Learn the necessary skills to re-write your carrer preparing yourself to
				new challenges. Yes, you can learn anything you want!
			</p>
			<a href="#journey" class="btn btn-primary btn-block">Find your course</a>
		</div>

		<div class="d-flex justify-content-between">
			<div class="m-3">
				<img class="img-fluid" src="assets/imgs/home/Home1.jpg" />
				<div class="mt-3">
					<h5>Learn and transform yourself with DevAcademy</h5>
					<p>
						Our methodology is recognized by companies like Google, Facebook and
						MIT.
					</p>
				</div>
			</div>
			<div class="m-3">
				<img class="img-fluid" src="assets/imgs/home/home021.jpg" />
				<div class="mt-3">
					<h5>Lead agile teams</h5>
					<p>
						How to turn your traditional team into a high-capacity delivery
						team?
					</p>
				</div>
			</div>
		</div>
	</div>
</section> -->

<!-- <section class="container">
	<h2><span>Understand the DevAcademy methodology with free classes</span></h2>
	<div
		class="d-flex flex-column align-items-center flex-md-row justify-content-md-around"
	>
		<div class="card m-1" style="width: 18rem;">
			<img
				class="card-img-top"
				src="http://via.placeholder.com/640x320"
				alt="Card image cap"
			/>
			<div class="card-body">
				<h5 class="card-title ">Card title</h5>
				<a href="#" class="btn btn-block btn-primary">Go somewhere</a>
			</div>
		</div>

		<div class="card m-1" style="width: 18rem;">
			<img
				class="card-img-top"
				src="http://via.placeholder.com/640x320"
				alt="Card image cap"
			/>
			<div class="card-body">
				<h5 class="card-title ">Card title</h5>
				<a href="#" class="btn btn-block btn-primary">Go somewhere</a>
			</div>
		</div>

		<div class="card m-1" style="width: 18rem;">
			<img
				class="card-img-top"
				src="http://via.placeholder.com/640x320"
				alt="Card image cap"
			/>
			<div class="card-body">
				<h5 class="card-title ">Card title</h5>
				<a href="#" class="btn btn-block btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>

	<div class="d-flex justify-content-center mt-5">
		<a class="btn btn-primary p-2" href="#">More free content</a>
	</div>
</section> -->

<!-- <section class="container mb-5 mt-5" id="journey">
	<h2><span class="">Chose your journey</span></h2>

	<div
		class="d-flex text-center flex-column align-items-center flex-md-row justify-content-md-around"
	>
		<button type="button" class="m-2 btn btn-primary btn-lg btn-block">
			<div class="d-flex justify-content-between">
				<div class="d-flex flex-column pl-2">
					<h5 class="pt-2 text-left">UX Design</h5>
					<small class="pb-2">Design Thinking, User Research...</small>
				</div>
				<div class="ml-auto p-2 align-self-center">
					<i class="material-icons">keyboard_arrow_right</i>
				</div>
			</div>
		</button>

		<button type="button" class="m-2 btn btn-primary btn-lg btn-block">
			<div class="d-flex justify-content-between">
				<div class="d-flex flex-column pl-2">
					<h5 class="pt-2 text-left">Marketing Digital</h5>
					<small class="pb-2">Growth Hacking, Google Analytics...</small>
				</div>
				<div class="ml-auto p-2 align-self-center">
					<i class="material-icons">keyboard_arrow_right</i>
				</div>
			</div>
		</button>
	</div>

	<div
		class="d-flex text-center flex-column align-items-center flex-md-row justify-content-md-around"
	>
		<button type="button" class="m-2 btn btn-primary btn-lg btn-block">
			<div class="d-flex justify-content-between">
				<div class="d-flex flex-column pl-2">
					<h5 class="pt-2 text-left">UX Design</h5>
					<small class="pb-2">Design Thinking, User Research...</small>
				</div>
				<div class="ml-auto p-2 align-self-center">
					<i class="material-icons">keyboard_arrow_right</i>
				</div>
			</div>
		</button>

		<button type="button" class="m-2 btn btn-primary btn-lg btn-block">
			<div class="d-flex justify-content-between">
				<div class="d-flex flex-column pl-2">
					<h5 class="pt-2 text-left">Marketing Digital</h5>
					<small class="pb-2">Growth Hacking, Google Analytics...</small>
				</div>
				<div class="ml-auto p-2 align-self-center">
					<i class="material-icons">keyboard_arrow_right</i>
				</div>
			</div>
		</button>
	</div>
</section> -->

<!-- <section class="container mb-5" id="info-content">
	<h2><span class="">Forming Professionals of the Future</span></h2>

	<div class="row mt-3">
		<div class="col-12 col-md-6 mb-3">
			<img class="img-fluid" src="assets/imgs/home/transformeSuaEmpresa.jpg" />
		</div>
		<div class="col-12 col-md-6">
			<h3 class="">
				Transform your business, build agile teams, and create processes that
				drive innovation
			</h3>
			<p>
				DevAcademy is more than a school, we are educating for the future. We
				create immersive experiences with a focus on people. We believe in the
				transformation that knowledge can bring to anyone at any time. Watch the
				video and come with us transforming your career and your future.
			</p>
		</div>
	</div>
</section> -->

<!-- <section class="container mb-5" id="info-content">
	<h2><span class="">Digitize your workforce</span></h2>

	<div class="row mt-3">
		<div class="col-12 col-md-6 mb-3">
			<img class="img-fluid" src="assets/imgs/home/digitalize.jpg" />
		</div>
		<div class="col-12 col-md-6">
			<h3 class="">Digitize your talents and accelerate innovation</h3>
			<p>
				Want to know how we can transform your business? DevAcademy conducts
				in-company training and also develops specific projects for the demand
				that your company needs. Contact us to find out what we can do together
				within your company.
			</p>
		</div>
	</div>
</section> -->

<!-- <app-youtube></app-youtube> -->

<!-- <app-awards></app-awards> -->

<app-footer></app-footer>
