<!-- <app-navbar></app-navbar> -->
<section id="courses">
  <h2 class="section-title">Upcoming Courses</h2>

  <div class="courses-container">
    <div class="img-title" *ngFor="let course of courses">
      <a href="#">
        <img src="{{ course.image }}" alt="Course image" />
        <h3>{{ course.title }}</h3>
      </a>
    </div>

    <!--   <div>
    <div class="img-title">
      <a href="#">
        <img
          src="https://via.placeholder.com/350x200"
          alt="Course image"
        />
        <h3>Course Title</h3>
      </a>
    </div>

    <div class="img-title">
      <a href="#">
        <img
          src="https://via.placeholder.com/350x200"
          alt="Course image"
        />
        <h3>Course Title</h3>
      </a>
    </div>

    <div class="img-title">
      <a href="#">
        <img
          src="https://via.placeholder.com/350x200"
          alt="Course image"
        />
        <h3>Course Title</h3>
      </a>
    </div> -->
  </div>
  <!--   <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Go somewhere</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Go somewhere</button>
    </mat-card-actions>
  </mat-card> -->
</section>

<app-partners></app-partners>

<section class="container mt-5" id="courses-boxes">
  <h2 class="font-weight-bold">Life Changing Courses</h2>

  <div
    class="d-flex flex-column align-items-center flex-md-row justify-content-md-around"
  >
    <div class="card m-1" style="width: 18rem;">
      <img
        class="card-img-top"
        src="http://via.placeholder.com/640x320"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title font-weight-bold">Card title</h5>
        <a href="#" class="btn btn-block btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card m-1" style="width: 18rem;">
      <img
        class="card-img-top"
        src="http://via.placeholder.com/640x320"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title font-weight-bold">Card title</h5>
        <a href="#" class="btn btn-block btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card m-1" style="width: 18rem;">
      <img
        class="card-img-top"
        src="http://via.placeholder.com/640x320"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title font-weight-bold">Card title</h5>
        <a href="#" class="btn btn-block btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</section>

<!-- <section class="container mb-5" id="info-content">
  <h2><span class="font-weight-bold">Digitize your workforce</span></h2>

  <div class="row mt-3">
    <div class="col-12 col-md-6 mb-3">
      <img class="img-fluid" src="assets/imgs/home/digitalize.jpg" />
    </div>
    <div class="col-12 col-md-6">
      <h3 class="font-weight-bold">
        Digitize your talents and accelerate innovation
      </h3>
      <p>
        Want to know how we can transform your business? DevAcademy conducts
        in-company training and also develops specific projects for the demand
        that your company needs. Contact us to find out what we can do together
        within your company.
      </p>
    </div>
  </div>
</section> -->

<app-youtube></app-youtube>

<app-awards></app-awards>

<app-location></app-location>

<app-newsletter></app-newsletter>
