<section class="container mt-5 mb-5" id="newsletter">
  <h2><span>Subscribe to our newsletter</span></h2>
  <div
    class="d-flex flex-column align-items-center flex-md-row justify-content-md-center"
  >
    <div class="input-group mr-5 ml-5">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          <i class="material-icons">mail_outline</i>
        </span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Email"
        aria-label="Email"
        aria-describedby="basic-addon1"
      />
    </div>
    <button
      type="button"
      name="button"
      class="btn btn-block btn-primary p-2 m-2"
    >
      Subscribe
    </button>
  </div>
</section>
