/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'assets/my-styles';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons'); // body {
//   margin: 0;
//
//   mat-sidenav-content {
//     min-height: 100vh;
//   }
// }
// Styles to General Elements

body {
	margin-top: 58px;
}

h2 {
	font-size: 1.5rem;
	margin-bottom: 4rem;
	padding: 0 2%;
	position: relative;
	text-align: center;
	z-index: 1;
}

h2 span {
	background: map-get($theme-colors, bg-gray);
	font-weight: bold;
	padding: 0 15px;
}

h2::before {
	border-top: 2px solid #dfdfdf;
	bottom: 0;
	// content: '';
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 50%;
	width: 100%;
	z-index: -1;
}

h5,
h6 {
	font-weight: bold;
}

.form-control {
	input,
	textarea {
		border-left: 0;
		border-radius: 0;
	}
}

.input-group-text {
	background-color: #fff !important;
}

.btn {
	border-radius: 0;
}
