// Import Nunito Font
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600');

// Import Angular Material Theme
@import 'src/assets/scss/angular-material-theme';

// Import Angular Material Core Dependencies
@include mat-core();
@include angular-material-theme($theme);

// Override the typography in the core CSS.
@include mat-core($devacademy-typography);

// Import Bootstrap Theme
@import 'src/assets/scss/bootstrap-theme';

:root {
  $primary: #d32e2e;
  $secondary: #414042;
  $tertiary: #00a2ff;

  $dark: #212121;
  $light: #ffffff;

  $bg-light: #f3f3f3;
  $bg-dark: #212121;

  $tablet: 769px;
}

// Styles to General Elements
html,
body {
  height: 100%;
}

body {
  margin: 0;
}

/*h2 {
  font-size: 1.8em;
   margin-bottom: 4rem;
  padding: 0 2%;
  position: relative;
  text-align: center;
  z-index: 1; 
}*/

// h2 span {
//   background: map-get($theme-colors, bg-gray);
//   font-weight: bold;
//   padding: 0 15px;
// }

/* h2::before {
  border-top: 2px solid #dfdfdf;
  bottom: 0;
  // content: '';
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 50%;
  width: 100%;
  z-index: -1;
} */

h5,
h6 {
  font-weight: bold;
}

.form-control {
  input,
  textarea {
    border-left: 0;
    border-radius: 0;
  }
}

.input-group-text {
  background-color: #fff !important;
}

.btn {
  border-radius: 0;
}
