// Import Angular Material Theme
@import 'src/assets/scss/angular-material-theme';

// Import Angular Material Core Dependencies
@include mat-core();
@include angular-material-theme($theme);

// Override the typography in the core CSS.
@include mat-core($devacademy-typography);

:root {
  --primary: #424242;
  --accent: #d32f2f;
  --light: #fff;
  --light-grey: #a2a2a2;
  --dark: #212121;
  --bg-grey: #fafafa;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  font-family: Nunito, 'Helvetica Neue', sans-serif;
  margin: 0;
}
