<section class="subscribe">
  <div class="subscribe__heading">
    <h1>
      <span class="logo-decoration">Dev</span>
      Academy
    </h1>
    <p class="mat-headline">
      We provide immersive courses in technology, enabling people to understand
      and transform the world around them.
    </p>
  </div>

  <div class="subscribe__card">
    <!-- Subscribe Form -->
    <mat-card>
      <mat-card-title-group *ngIf="!formStatus || formStatus === 'loading'">
        <mat-card-title>Get Notified</mat-card-title>
        <mat-card-subtitle>
          Fill out your details below to get notified of our upcoming events you
          can attend for a variety of hands-on workshops for non-developers and
          beginners.
        </mat-card-subtitle>
      </mat-card-title-group>

      <mat-card-content *ngIf="!formStatus">
        <form
          [formGroup]="getNotifiedForm"
          (ngSubmit)="submitGetNotifiedForm()"
        >
          <div class="row-name">
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="First Name"
                formControlName="firstName"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="Last Name"
                formControlName="lastName"
              />
            </mat-form-field>
          </div>

          <div class="row-email">
            <mat-form-field>
              <input
                matInput
                type="email"
                placeholder="Email Address"
                formControlName="email"
              />
            </mat-form-field>
          </div>

          <button mat-flat-button color="accent" type="submit">
            Notify Me
          </button>
        </form>
      </mat-card-content>

      <mat-card-content class="loading" *ngIf="formStatus === 'loading'">
        <mat-progress-spinner
          class="loading-spinner"
          color="accent"
          mode="indeterminate"
        ></mat-progress-spinner>
      </mat-card-content>

      <!-- Form Submitted -->
      <mat-card-title-group
        class="email-confirmation"
        *ngIf="formStatus === 'submitted'"
      >
        <mat-card-title>Thank you!</mat-card-title>
        <mat-card-subtitle>
          You've been successfully subscribed.
        </mat-card-subtitle>
        <img
          src="assets/imgs/home/checkmark.gif"
          alt="Email Confirmation Checkmark"
        />
      </mat-card-title-group>
    </mat-card>
  </div>
</section>

<app-card-course></app-card-course>

<section id="partners" class="section-title">
  <h2>Our Partners</h2>

  <div class="partners-content">
    <a
      href="{{ partner.webUrl }}"
      *ngFor="let partner of partnersData"
      target="_blank"
      rel="noreferrer noopener"
    >
      <img src="{{ partner.imgUrl }}" alt="{{ partner.name }} logo" />
    </a>
  </div>
</section>
