@import 'src/assets/scss/variables';

.background-banner {
  background-image: url('assets/imgs/get-notified/bg-banner.jpg');
  background-size: cover;
  color: $light;
  min-height: 90vh;
}

.logo-detail {
  color: $primary;
  font-weight: 600;
}

.brief-desc {
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.8rem;
}

.limit-width {
  max-width: 45vh;
}

.card-width {
  background: rgba($bg-light, 0.92);
  max-width: 92vw;

  mat-card-title {
    color: $dark;
    font-size: 1.6rem;
    font-weight: bold;
  }

  mat-card-subtitle {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1rem;
    margin-bottom: 20px;
  }
}

.name-container {
  display: flex;
  justify-content: space-between;
}

.name-container > * {
  width: 48%;
}

.email-container {
  display: flex;
  flex-direction: column;
}

.email-container > * {
  width: 100%;
}
