<footer class="bg-secondary mt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-12">
          <img
            class="img-fluid pt-3 pb-3"
            src="assets/imgs/home/devacademy-logo.svg"
          />
          <p class="text-light">
            DevAcademy is more than a school, we are educating for the future. We
            create immersive experiences with a focus on people. We believe in the
            transformation that knowledge can bring to anyone at any time.
          </p>
          <hr class=" d-md-none d-lg-none" />
        </div>
  
        <div class="col-lg-3"></div>
  
        <div class="col-lg-2 col-sm-12">
          <ul>
            <li>DevAcademy</li>
            <li>
              <a
                href="https://www.youtube.com/watch?v=3aT61IK3VEY"
                target="_blank"
              >
                About DevAcademy
              </a>
            </li>
            <li>
              <a href="https://goo.gl/maps/WtdHMMyCmxJ2" target="_blank">
                Location
              </a>
            </li>
            <li>
              <a href="https://blog.DevAcademy.tech/" target="_blank">Blog</a>
            </li>
            <li>
              <a
                href="mailto:renan@devacademy.com.au?Subject=DevAcademy"
                target="_top"
              >
                Become an instructor
              </a>
            </li>
          </ul>
          <hr class=" d-lg-none" />
        </div>
        <div class="col-lg-2 col-sm-12">
          <ul>
            <li>Talk with us</li>
            <li>Email:hello@devacademy.com.au</li>
            <li>Whats: + 61 434385978</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  