<footer>
  <div>
    <img
      src="assets/imgs/branding/logo-devacademy-white.svg"
      alt="DevAcademy Logo"
    />
    <p>
      DevAcademy is more than a school, we are educating for the future. We
      create immersive experiences with a focus on people. We believe in the
      transformation that knowledge can bring to anyone at any time.
    </p>
  </div>

  <div>
    <h2>DevAcademy</h2>
    <ul>
      <li>
        <a
          href="mailto:renan@devacademy.com.au?Subject=Become a DevAcademy Instructor"
          target="_top"
        >
          Become an instructor
        </a>
      </li>
      <li>
        <a
          href="https://goo.gl/maps/W4fYKWVb1GJ2"
          target="_blank"
          rel="noreferrer noopener"
        >
          Location
        </a>
      </li>
    </ul>
  </div>
  <div class="social-media">
    <h2>Get in touch</h2>
    <ul>
      <li *ngFor="let social of socialMedia">
        <a href="{{ social.path }}" target="_blank" rel="noreferrer noopener">
          <img
            src="assets/imgs/social-media/flat/{{
              social.name | lowercase
            }}.svg"
            alt="{{ social.name }} Icon"
          />
        </a>
      </li>
    </ul>
  </div>
</footer>
