@import 'src/assets/scss/variables';

footer {
  display: flex;
  flex-direction: column;
  color: $light;
  background-color: $bg-dark;
  padding: 2vh 10%;

  div:first-child {
    margin-bottom: 20px;
  }

  img {
    max-width: 35vh;
    margin-bottom: 10px;
  }

  ul {
    padding-left: 0;
  }

  li {
    font-size: 0.875em;
    line-height: 25px;
    list-style: none;
  }

  a {
    color: $light;
  }

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;

    div:first-child {
      max-width: 35%;
    }
  }
}
