footer {
  color: #fff;
  background-color: #212121;

  img {
    max-width: 35vh;
  }

  ul {
    padding-left: 0;
  }

  li:first-child {
    font-size: 1.125em;
    font-weight: bold;
  }

  li {
    font-size: 0.875em;
    line-height: 31px;
    list-style: none;
  }

  a {
    color: #fff;
  }
}
